<h1 style="text-align: center;">Start page/button page</h1>

<button (click)="redirectToUserFormPage()">Create a user</button>
<button (click)="redirectToCvFormPage()">Go to cv form page</button>
<button (click)="redirectToUsersPage()">Go to all users page</button>
<button (click)="redirectToRoleFormPage()">Go to roles page</button>
<button (click)="redirectToCoursesFormPage()">Go to courses form page</button>
<button (click)="redirectToProjetDetailsFormPage()">Go to project details form page</button>
<button (click)="redirectToUserCvSearch()">Go to user cv search</button>
<button (click)="redirectToDeleteRoles()">Go to delete roles</button>
<button (click)="redirectToTranslations()">Go to translate</button>

